/* **************************************************************************** */
/* *********************Style da Página INDEX ********************* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#btnLogin {
    margin-right: 40px;
    border: 2px solid;
    font-size: 20px;
    font-weight: 400%;
}

#iconsMidias{
    margin-right: 10px;
}
footer{
    text-decoration: none;  
}

/* **************** Cards da página Index *************************** */
.cardIndex{
    background-color: #ffef0e;
    overflow: hidden;
    height: 172px;
}
.cardIndex:hover{
    height: 400px;
    transition: 0.5s;
}

.card-text{
    color:#021b4d;
    font-weight: 500; 
}


#btnNav{
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
border: 2px solid blue;
}

#fotoIndex{
    width: 120%;
}
/* 
/************************** Banner inicial da pág Index *****************************/
#bannerIndex{
    width: 92%;
 margin-left: 4%;
 margin-top: 2%
}
#bannerIndex2{
    width: 92%;
    margin-left: 4%;
    margin-top: 2%

}

/* ************************************************************************************ */
/* *****************************Style da página OFICINAS ********************************/


.cabecalho{
    color: #e3f2fd;
    justify-content: center;
    }
    
    #zoom-container {
        
        cursor:pointer;
        display: flex;
        height: 2rem;
        border-bottom: none;
    }
    
/* ********************* quem somos nós *************************** */
#tituloPadrinhos{
    color: #021b4d;
    text-align: center;
    margin-bottom: 5%;

}
.textPad{
    color: #021b4d;
    font-weight: 500;
    font-size: medium;
    text-align: justify;
}

/* ************************************************************************************ */
/* *****************************Style da página Padrinhos******************************/
.imgCarrossel{
height: 22rem;
width: 350px;
}

#carouselExampleIndicators{
width: 350px;
}

.carroImg{
display: flex;
align-items: center;
justify-content: center;
}
.carousel-item{
  display:flex;
  justify-content: center;  
}

@media (max-width: 436px){
    .imgCarrossel{
        height: 17rem;
        width: 200px;
        }

}
